<%- include ('../layouts/admin/adminHeader') %>
<section class="content-main">
    <div class="row justify-content-center mt-30">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Add new Category offer</h4>
                </div>
                <div class="card-body">
                    <div class="mx-auto"> 
                        <form action="/admin/add-category-offer" id="catOfferForm" method="post">
                            <div class="mb-4">
                                <label for="name" class="form-label">Offer Name</label>
                                <input type="text" name="name" placeholder="Type here" class="form-control" id="name">
                                <div id="catOfferName-error" class="error-message text-danger"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Starting Date</label>
                                <input id="catStartingDate" name="startingDate" type="date" placeholder="mm/dd/yy" class="form-control">
                                <div id="catStartingDate-error" class="error-message text-danger"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Ending Date</label>
                                <input id="catEndingDate" name="endingDate" type="date" placeholder="mm/dd/yy" class="form-control">
                                <div id="catEndingDate-error" class="error-message text-danger"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Category</label>
                                <select class="form-select" name="category" id="category">
                                    <option value="" disabled selected>Select a category</option>
                                    <% if(locals.categoryData) { %>
                                        <% for(let i = 0; i < categoryData.length; i++) { %>
                                                <option value="<%= categoryData[i]._id %>"><%= categoryData[i].name %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                                <div id="category-error" class="error-message text-danger"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Category Discount</label>
                                <input type="text" placeholder="Type here" name="categoryDiscount" class="form-control" id="categoryDiscount">
                                <div id="catDiscount-error" class="error-message text-danger"></div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Display General Message -->
                                <% if (typeof message !== 'undefined' && message.length > 0) { %>
                                    <p class="text-danger mb-0"><%= message %></p>
                                <% } %>
                                <!-- Submit button -->
                                <button type="submit" class="btn ms-auto d-block btn-md rounded font-sm hover-up">Add Offer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include ('../layouts/admin/adminFooter') %>