<%- include ('../layouts/header') %>
<div class="orders-wrapper">
    <div class="orders-container">
        <div class="orders-header">
            <h1>My Orders</h1>
            <p>Track your open orders & view the summary of your past orders</p>
        </div>

        <% orders.forEach(order => { %>
            <div class="order-card">
                <!-- Order Header -->
                <div class="order-card-header">
                    <div class="order-id">Order#: <%= order.orderNumber %></div>
                </div>
                <!-- Order Items -->
                <% order.items.forEach(item => { %>
                    <div class="order-details">
                        <!-- Product Image -->
                        <% if (item.product.images && item.product.images.length > 0) { %>
                            <img src="/admin/productImages/<%= item.product.images[0] %>" alt="<%= item.product.name %>"
                                 class="product-image" height="84" width="84">
                        <% } else { %>
                            <img src="defaultImage.jpg" alt="No Image" class="product-image" height="84" width="84">
                        <% } %>
        
                        <!-- Product Info -->
                        <div class="product-info">
                            <div class="order-status">Status: <%= item.status %></div>
                            <h3 class="product-name"><%= item.product.name %></h3>
                            <!-- <div class="product-size">Size: <%= item.size %></div> -->
                            <div class="product-quantity">Quantity: <%= item.quantity %></div>
                            <div class="product-price">
                                ₹<%= item.discountPriceAtPurchase * item.quantity %> (Includes Service Charge)
                            </div>
                        </div>
        
                        <!-- View Order Link -->
                        <a href="/view-order?orderId=<%= order._id %>" class="view-order-link">View Order</a>
                    </div>
                <% }) %>
            </div>
        <% }) %>
        
        <div class="button-container">
            <a href="/allProducts" class="button secondary-button">CONTINUE SHOPPING</a>
            <a href="/my-account" class="button primary-button">MY ACCOUNT</a>
        </div>
    </div>
</div>
<%- include ('../layouts/footer') %>