<%- include ('../layouts/header') %>
    <div class="header-small-mobile section-padding-1">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="mobile-logo logo-width">
                        <a href="/home">
                            <img alt="" src="assets/images/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mobile-header-right-wrap">
                        <div class="header-right-wrap header-right-flex">
                            <div class="same-style cart-wrap">
                                <a href="#" class="cart-active">
                                    <i class="dlicon shopping_bag-20"></i>
                                    <span class="count-style">02</span>
                                </a>
                            </div>
                            <div class="same-style header-off-canvas">
                                <a class="header-aside-button" href="#">
                                    <i class="dlicon ui-3_menu-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search start -->
    <div class="search-content-wrap main-search-active">
        <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
        <div class="search-content">
            <p>Start typing and press Enter to search</p>
            <form class="search-form" action="/allProducts" method="GET">
                <input type="text" name="q" placeholder="Search">
                <button class="button-search" type="submit"><i class="dlicon ui-1_zoom"></i></button>
            </form>
        </div>
    </div>
    <!-- mini cart start -->
    <div class="sidebar-cart-active">
        <div class="sidebar-cart-all">
            <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="cart-content">
                <h3>Shopping Cart</h3>
                <ul>
                    <% if (cart && cart.items.length> 0) { %>
                        <% cart.items.forEach(item=> { %>
                            <li class="single-product-cart">
                                <div class="cart-img">
                                    <a href="#">
                                        <img src="/admin/productImages/<%= item.product.images && item.product.images[0] %>"
                                            alt="<%= item.product.name %>" height="90px" width="90px">
                                    </a>
                                </div>
                                <div class="cart-title">
                                    <h4><a href="#">
                                            <%= item.product.name %>
                                        </a></h4>
                                    <span>
                                        <%= item.quantity %> × $<%= item.product.discountPrice || item.product.price %>
                                    </span>
                                </div>
                                <div class="cart-delete">
                                    <a href="#">×</a>
                                </div>
                            </li>
                            <% }) %>
                                <% } else { %>
                                    <li>Your cart is empty</li>
                                    <% } %>
                </ul>



                <div class="cart-total">
                    <h4>Subtotal: <span>₹<%= subtotal %></span></h4>
                </div>
                
                <div class="cart-checkout-btn">
                    <a class="btn-hover cart-btn-style" href="/cart">view cart</a>
                    <a class="no-mrg btn-hover cart-btn-style" href="/order">checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- aside start -->
    <div class="header-aside-active">
        <div class="header-aside-wrap">
            <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="header-aside-content">
                <div class="mobile-menu-area">
                    <div class="mobile-search">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="Search entire store…">
                            <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap">
                        <!-- mobile menu start -->
                        <div class="mobile-navigation">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/home">Home</a></li>
                                    <li class="menu-item-has-children "><a href="/allProducts">shop</a></li>
                                    <li class="menu-item-has-children"><a href="/wishlist">Wishlist</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->
                    </div>
                    <div class="mobile-curr-lang-wrap">
                        <div class="single-mobile-curr-lang">
                            <a class="mobile-account-active" href="#">My Account <i class="fa fa-angle-down"></i></a>
                            <div class="lang-curr-dropdown account-dropdown-active">
                                <ul>
                                    <li><a href="/my-account">My Account</a></li>
                                    <li>
                                        <% if (userLogged) { %>
                                            <a href="/logout">Logout</a>
                                            <% } else { %>
                                                <a href="/auth">Login</a>
                                                <% } %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-aside-menu">
                    <nav>
                        <ul>
                            <li><a href="#">About Toro</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Collection</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">New Look</a></li>
                        </ul>
                    </nav>
                </div>
                <img src="assets/images/icon-img/payments.png" alt="payment">
                <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo
                    dapibus.</p>
                <div class="aside-contact-info">
                    <ul>
                        <li><i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00</li>
                        <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
                        <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
                        <li><i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh Hoang - Ha Noi - Viet Nam
                        </li>
                    </ul>
                </div>
                <div class="social-icon-style mb-25">
                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                </div>
                <div class="copyright">
                    <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-area border-top-3 section-padding-1 breadcrumb-ptb-3">
        <div class="container-fluid">
            <div class="breadcrumb-content breadcrumb-font-inc">
                <ul>
                    <li>
                        <a href="index.html">Home 01 </a>
                    </li>
                    <li><span> > </span></li>
                    <li>
                        <a href="index.html">Shop</a>
                    </li>
                    <li><span> > </span></li>
                    <li>
                        <a href="index.html">Fashion sale off</a>
                    </li>
                    <li><span> > </span></li>
                    <li class="active"> Sleeve Button Cowl Neck </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product-details-area section-padding-1 pb-90">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-details-tab">
                        <!-- Product Images Slider -->
                        <div class="product-dec-right pro-dec-big-img-slider">
                            <% if (product && product.images && product.images.length> 0) { %>
                                <% product.images.forEach((image, index)=> { %>
                                    <div class="easyzoom-style">
                                        <div class="easyzoom easyzoom--overlay">
                                            <!-- Updated image paths to use correct server path -->
                                            <a href="/admin/productImages/<%= image %>">
                                                <img src="/admin/productImages/<%= image %>"
                                                    alt="Product Image <%= index + 1 %>" class="zoom-image">
                                            </a>
                                        </div>
                                        <a class="easyzoom-pop-up img-popup" href="/admin/productImages/<%= image %>">
                                            <i class="dlicon ui-1_zoom-in"></i>
                                        </a>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <!-- Placeholder when no images are available -->
                                            <div class="easyzoom-style">
                                                <div class="easyzoom easyzoom--overlay">
                                                    <img src="assets/images/no-image-available.png"
                                                        alt="No Image Available">
                                                </div>
                                            </div>
                                            <% } %>
                        </div>

                        <!-- Thumbnail Slider -->
                        <div class="product-dec-slider product-dec-left">
                            <% if (product && product.images && product.images.length> 0) { %>
                                <% product.images.forEach((image, index)=> { %>
                                    <div class="product-dec-small <%= index === 0 ? 'active' : '' %>">
                                        <img src="/admin/productImages/<%= image %>" alt="Thumbnail <%= index + 1 %>">
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <!-- Placeholder for thumbnails when no images are available -->
                                            <div class="product-dec-small">
                                                <img src="assets/images/no-image-thumbnail.png"
                                                    alt="No Image Thumbnail">
                                            </div>
                                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="product-details-col-72">
                            <div class="product-details-content p-dec-content-edit">
                                <div class="pro-dec-next-prev">
                                    <a class="prev" href="#"><i class="dlicon arrows-1_tail-left"></i></a>
                                    <a class="next" href="#"><i class="dlicon arrows-1_tail-right"></i></a>
                                </div>
                                <h1 class="uppercase">
                                    <%= product.brand %>
                                </h1>
                                <h4 class="uppercase">
                                    <%= product.name %>
                                </h4>
                                <!-- <div class="product-details-ratting-wrap">
                                    <div class="product-details-ratting">
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <a href="#"> (1 customer review)</a>
                                </div> -->
                                <div class="price-container">
                                    <% if (product.discountPrice) { %>
                                        <h4 class="discounted-price">
                                            <span class="discounted-new-price">₹<%= product.discountPrice %></span>
                                            <span class="discounted-old-price">₹<%= product.price %></span>
                                            <% const discountPercentage=Math.round((product.price -
                                                product.discountPrice) / product.price * 100); %>
                                                <span class="offer-percentage">(<%= discountPercentage %>% OFF)</span>
                                        </h4>
                                        <% } else { %>
                                            <h4 class="regular-price">
                                                <span class="regular-new-price">₹<%= product.price %></span>
                                            </h4>
                                            <% } %>
                                </div>


                                <div class="product-details-action-wrap">
                                    <!-- <div class="product-filter">
                                        <h5>Size</h5>
                                        <div class="product-size">
                                            <ul class="size-options">
                                                <% if (product.sizes && product.sizes.length> 0) { %>
                                                    <% product.sizes.forEach(size=> { %>
                                                        <li>
                                                            <a href="#" class="size-option" data-size="<%= size %>">
                                                                <%= size %>
                                                            </a>
                                                        </li>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <li>No sizes available</li>
                                                                <% } %>
                                            </ul>
                                        </div>
                                    </div> -->

                                    <div class="product-buttons-wrap">
                                        <form action="/add-to-cart" method="POST"
                                            style="display:flex; align-items: center; gap: 5px;">
                                            <input type="hidden" name="productId" value="<%= product._id %>"> <!-- Product ID -->
                                            <!-- <input type="hidden" id="selectedSize" name="size" value=""> -->
                                            <!-- Selected size -->

                                            <!-- Quantity Selection Component -->
                                            <div class="product-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="quantity" id="quantityInput" value="1">
                                                </div>
                                            </div>

                                            <div class="product-details-cart">
                                                <a id="addToCartButton" title="Add to cart" href="#" onclick="event.preventDefault();">Add to cart</a>
                                            </div>
                                            <div class="product-details-wishlist">
                                                <a href="#" class="wishlist-button" data-product-id="<%= product._id %>"
                                                    title="Add to wishlist">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-details-info">
                                    <a href="#"><i class="dlicon location_pin"></i>Store availability</a>
                                    <a href="#"><i class="dlicon envir_car"></i>Delivery and return</a>
                                    <a href="#"><i class="dlicon design_measure-17"></i>Size Guide</a>
                                </div>
                                <div class="product-details-meta">
                                    <span>SKU: REF. LA-140</span>
                                    <span>Categories: <a href="#">Fashions</a>, <a href="#">Main 01</a>, <a
                                            href="#">Main 02</a></span>
                                    <span>Tags: <a href="#">Blazer</a>, <a href="#">chair</a>, <a href="#">Coat</a>, <a
                                            href="#">dress</a>, <a href="#">light</a>, <a href="#">Living</a>, <a
                                            href="#">Main 01</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related-product-area section-padding-1 pb-95">
        <div class="container-fluid">
            <div class="section-title-6 mb-50">
                <h2>You may also like</h2>
            </div>
            <div class="related-product-active owl-carousel">
                <% if (recommendedProducts.length> 0) { %>
                    <% recommendedProducts.forEach(product=> { %>
                        <div class="product-wrap">
                            <div class="product-img default-overlay mb-25">
                                <a href="/product-details?id=<%= product._id %>">
                                    <% if (product.images.length> 0) { %>
                                        <img class="default-img" src="admin/productImages/<%= product.images[0] %>"
                                            alt="<%= product.name %>">
                                        <% if (product.images.length> 1) { %>
                                            <img class="hover-img" src="admin/productImages/<%= product.images[1] %>"
                                                alt="<%= product.name %>">
                                            <% } %>
                                                <% } else { %>
                                                    <img class="default-img" src="assets/images/no-image.jpg"
                                                        alt="No image">
                                                    <% } %>
                                </a>

                                <div class="product-action product-action-position-1">
                                    <!-- <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"><i
                                            class="fa fa-eye"></i><span>Quick Shop</span></a> -->
                                    <a title="Add to Wishlist" href="#" class="wishlist-button" data-product-id="<%= product._id %>"><i class="fa fa-heart"></i><span>Add to
                                            Wishlist</span></a>
                                    <!-- <a class="icon-blod" title="Add to Compare" href="#"><i
                                            class="dlicon arrows-4_compare"></i><span>Add to Compare</span></a> -->
                                    <a title="Add to Cart" href="#" class="add-to-cart-button" data-product-id="<%= product._id %>"><i class="fa fa-shopping-cart"></i><span>Add to
                                            Cart</span></a>
                                </div>
                            </div>

                            <div class="product-content-2 title-font-width-400 text-center">
                                <h3><a href="/product-details?id=<%= product._id %>">
                                        <%= product.name %>
                                    </a></h3>
                                <div class="product-price">
                                    <% if (product.discountPrice) { %>
                                        <span class="new-price">₹<%= product.discountPrice %></span>
                                        <span class="old-price">₹<%= product.price %></span>
                                        <% const discountPercentage=Math.round((product.price - product.discountPrice) /
                                            product.price * 100); %>
                                            <span class="offer-percentage">(<%= discountPercentage %>% OFF)</span>
                                            <% } else { %>
                                                <span class="new-price">₹<%= product.price %></span>
                                                <% } %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>No recommended products available.</p>
                                <% } %>
            </div>
        </div>
    </div>
    <div class="related-product-area section-padding-1 pb-95">
        <div class="container-fluid">
            <div class="section-title-6 mb-50">
                <h2>Related Products</h2>
            </div>
            <div class="related-product-active owl-carousel">
                <% if (relatedProducts.length> 0) { %>
                    <% relatedProducts.forEach(product=> { %>
                        <div class="product-wrap">
                            <div class="product-img default-overlay mb-25">
                                <a href="/product-details?id=<%= product._id %>">
                                    <% if (product.images.length> 0) { %>
                                        <img class="default-img" src="admin/productImages/<%= product.images[0] %>"
                                            alt="<%= product.name %>">
                                        <% if (product.images.length> 1) { %>
                                            <img class="hover-img" src="admin/productImages/<%= product.images[1] %>"
                                                alt="<%= product.name %>">
                                            <% } %>
                                                <% } else { %>
                                                    <img class="default-img" src="assets/images/no-image.jpg"
                                                        alt="No image">
                                                    <% } %>
                                </a>

                                <div class="product-action product-action-position-1">
                                    <!-- <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"><i
                                            class="fa fa-eye"></i><span>Quick Shop</span></a> -->
                                    <a title="Add to Wishlist" href="#" class="wishlist-button" data-product-id="<%= product._id %>"><i class="fa fa-heart"></i><span>Add to
                                            Wishlist</span></a>
                                    <!-- <a class="icon-blod" title="Add to Compare" href="#"><i
                                            class="dlicon arrows-4_compare"></i><span>Add to Compare</span></a> -->
                                    <a title="Add to Cart" href="#" class="add-to-cart-button" data-product-id="<%= product._id %>"><i class="fa fa-shopping-cart"></i><span>Add to
                                            Cart</span></a>
                                </div>
                            </div>

                            <div class="product-content-2 title-font-width-400 text-center">
                                <h3><a href="/product-details?id=<%= product._id %>">
                                        <%= product.name %>
                                    </a></h3>
                                <div class="product-price">
                                    <% if (product.discountPrice) { %>
                                        <span class="new-price">₹<%= product.discountPrice %></span>
                                        <span class="old-price">₹<%= product.price %></span>
                                        <% const discountPercentage=Math.round((product.price - product.discountPrice) /
                                            product.price * 100); %>
                                            <span class="offer-percentage">(<%= discountPercentage %>% OFF)</span>
                                            <% } else { %>
                                                <span class="new-price">₹<%= product.price %></span>
                                                <% } %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>No related products available.</p>
                                <% } %>
            </div>

            <style>
                .related-product-active .product-img img {
                    width: 100%;
                    /* Ensure the image fills the width */
                    height: auto;
                    /* Automatically calculate the height */
                    aspect-ratio: 4 / 5;
                    /* Preserve the 4:5 aspect ratio */
                    object-fit: cover;
                    /* Crop the image to fit if necessary */
                }
            </style>

        </div>
    </div>
    <%- include ('../layouts/footer') %>